<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" *ngIf="(tasks$ | async).length">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container *ngIf="tasks$ | async as list">
      <div *ngIf="list && list.length; else empty">
        <task *ngFor="let task of list" [task]="task" (action)="handlerAction($event)"
          (view)="view($event, list.length)"></task>
      </div>

      <ng-template #empty>
        <ng-container *ngIf="loaded$ | async; else loading">
          <div class="empty-list-box" *ngIf="!isFirst">
            <img src="assets/congrats.svg" alt="" class="empty-list" />
            <p class="ion-text-center">
              Parabêns! <br />
              Você completou todas as suas tarefas
            </p>
            <ion-button fill="outline" color="primary" (click)="add(list.length)">Vamos criar mais uma?</ion-button>
          </div>

          <div class="empty-list-box" *ngIf="isFirst">
            <img src="assets/welcome.svg" alt="" class="empty-list" />
            <p class="ion-text-center">Oiiii! <br /></p>
            <ion-button fill="outline" color="primary" (click)="add(list.length)">Vamos criar sua primeira tarefa?
            </ion-button>
          </div>
        </ng-container>

        <ng-template #loading>
          <task *ngFor="let task of [1,2,3,4,5]" loading="true"></task>
        </ng-template>
      </ng-template>
    </ng-container>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="size$ | async as size">
    <ion-fab-button size="small" (click)="add(size)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>