<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Terefas completadas
    </ion-title>

    <ion-buttons slot="end" *ngIf="hasContent">
      <ion-button (click)="clear()" strong>
        Limpar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ng-container *ngIf="tasks$ | async as list">
      <div *ngIf="list && list.length; else empty">
        <task *ngFor="let task of list" [task]="task" (view)="view($event, list.length)"></task>
      </div>

      <ng-template #empty>
        <div class="empty-list-box">
          <img src="assets/empty.svg" alt="" class="empty-list" />
          <p>Todo limpo por aqui!</p>
        </div>
      </ng-template>
    </ng-container>
  </div>
</ion-content>
